@keyframes btn-pisca {

    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.btn-pisca {

  background-color:#ce300c;
  color:#fff;
  padding: 20px;
 display: inline-block;
  text-decoration: none;
  border-radius: 4px; 
  -webkit-animation: btn-pisca .9s linear infinite;
  -moz-animation: btn-pisca .9s linear infinite;
  -ms-animation: btn-pisca .9s linear infinite;
  -o-animation: btn-pisca .9s linear infinite;
  animation: btn-pisca 2s linear infinite;
}
@keyframes icon {

    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

